<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post——ajax</title>
        <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            $('#btn_login').click(function () {
                //获取用户名和密码
                username=$('#username').val()
                password=$('#password').val()
                $.ajax({
                    'url':'/ajax_login_check/',
                    'type':'post',
                    'data':{
                        'username':username,
                        'password':password,
                    },
                    'dataType':'json',
                }).success(function (data) {
                    //登陆成功：1，登陆失败：0
                    if (data.res==0){$('#errormes').show().html('用户名或密码错误')}
                    else{
                        //登陆成功
                        location.href = '/index'
                    }
                })
            })
        })
    </script>
    <style>
        #errormes{
            display: none;
            color: aquamarine;
        }
    </style>
</head>
<body>
<div>
    用户名：<input type="text" id="username"> <br/>
    密码：<input type="text" id="password"> <br/>
    <input type="button"   id="btn_login" value="登陆">
    <div id="errormes"></div>
</div>
</body>
</html>